.ui-grid-a-vote { overflow: hidden; }
.ui-block-a-vote { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.ui-block-b-vote{ margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.ui-block-a-content img.placeimg {width: 85%; height: auto;}
.ui-block-b-content img.mapimg {width: auto; padding-left: 1.5em; padding-top: .5em;}

.ui-grid-a-vote .ui-block-a-vote { width: 15%; }
.ui-grid-a-vote .ui-block-b-vote { width: 85%; padding-left: .5em; }
.ui-grid-a-vote .ui-block-a-vote { clear: left; }

.ui-block-a-vote .ui-controlgroup .ui-btn-icon-notext .ui-btn-inner {padding: 0.2em 1px .6em 20px;}

.votebutton {padding-top: 10px;}

.ui-button-inner {padding: .6em 10px .6em 20px;}

.ui-li-divider {padding: .5em; font-size: 17px; text-align: center;}

.ui-grid-a-content { overflow: hidden; }
.ui-block-a-content { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.ui-block-b-content{ margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.ui-grid-a-content .ui-block-a-content { width: 40%; }
.ui-grid-a-content .ui-block-b-content { width: 60%; }
.ui-grid-a-content .ui-block-a-content { clear: left; }

.triviatext {line-height: 4.5em;}

.ui-grid-a-content-vote { overflow: hidden; }
.ui-block-a-content-vote { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.ui-block-b-content-vote{ margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }


.ui-grid-a-content-vote .ui-block-a-content-vote { width: 15%; }
.ui-grid-a-content-vote .ui-block-b-content-vote { width: 85%; padding-left: .5em; }
.ui-grid-a-content-vote .ui-block-a-content-vote { clear: left; }