/* montage.css
 * -----------
 * Formatting for the montage application.
 */
 
ol#serentripity-montage {
    list-style-type: none;
    margin: 0;
	padding: 0;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

    ol#serentripity-montage > ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
 
        ol#serentripity-montage > ol > li {
            display: inline-block;
            margin-top: 2px;
            margin-left: 2px;
            background-position: center;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        
            ol#serentripity-montage > ol > li > a {
                display: block;
                width: 200px;
                height: 200px;
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
            }