#serentripity-login-form {
    display: none;
    width: 50%;
    margin: 0 auto;
}

#serentripity-logout-form {
    display: none;
}

#serentripity-login-message {
    display: none;
}

#serentripity-login-error {
    font-weight: 600;
}
